numpy
pillow
pyyaml
torch
torchvision
tqdm
scipy
gdown>=5.2,<7
git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33

# Official FAFA_SynCPR requirements at pinned source commit.
pandas
omegaconf
iopath
timm
decord
opencv-python
transformers==4.39.3
fairscale
einops
scikit-image
spacy
prettytable
webdataset
pycocoevalcap
